name: Angular CI Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'

      - name: Install dependencies
        run: npm ci

      - name: Run Angular build
        run: npm run build -- --configuration production

      - name: Commit and Push dist folder
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add -f dist/  # Use -f because dist is likely in your .gitignore
          git commit -m "chore: update build artifacts [skip ci]"
          git push
